.nav-menu-main {
    width: 100%;
    margin: 5px 0 10px 0;
    padding: 0;
    border: 0;
}

.nav-menu-main h3 {
    font-size: 14px; 
    cursor: pointer;
    line-height: 22px;
    padding: 8px 5px;    
    margin-top: 5px;
    border-left: 8px solid transparent;
}

.nav-menu-main h3 span {
    font-size: 14px;
}

.nav-menu-main h3:hover {
    border-left: 8px solid #294e6c;
    background-color: #457296;
}

.nav-menu-main h3.corrente { 
    border-left: 8px solid #294e6c;
    background-color: #457296;
}   

.nav-menu-main ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    border: 0;
}

.nav-menu-main ul { 
    background-color: #294e6c;
}

.nav-menu-main li {
    padding-left: 8px;
}


.nav-menu-main li a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 12px; 
    border-left: 6px solid transparent;
    padding: 6px 3px 6px 10px;	
    margin: 0;
    line-height: 22px;
    position: relative;
}

.nav-menu-main li a:hover {
    border-left: 6px solid #16e646;
    color: #457296;
    background-color: azure;
}


.nav-menu-main .acyes:hover {
    border-left: 6px solid #16e646 !important;
}

.nav-menu-main .acnot:hover {
    border-left: 6px solid #e63e16 !important;
}

.nav-menu-main .acper:hover {
    border-left: 6px solid #d6e616 !important;
}

